<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="col">
        <a href="/" class="footer__logo">
          <img src="./img/logo.svg" alt="">
        </a>
        <p>We are a platform for a care seeker, their family, friends or social workers to find care</p>
        <span class="desktop">© 2023 - All Rights Reserved</span>
      </div>
      <div class="col footer__menu">
        <a href="javascript:void(0)">About Us</a>
        <a href="javascript:void(0)">Search</a>
        <a href="javascript:void(0)">Providers</a>
        <a href="javascript:void(0)">Blog</a>
        <a href="javascript:void(0)">Contact Us</a>
      </div>
      <span class="mob">© 2023 - All Rights Reserved</span>
    </div>
  </div>
</footer>